input{
  padding: 12px;
  border: 1px solid #d4d4d4;
  border-radius: 8px;
  transition: 0.05s ease-in;

  &:focus{
    outline: none;
    border-color: #b4b0b0;
  }
}

select{
  padding: 12px;
  border: 1px solid #d4d4d4;
  border-radius: 8px;
  transition: 0.05s ease-in;
  margin-right: 14px;

  &:focus{
    outline: none;
    border-color: #b4b0b0;
  }
}

pre{
  color: white;
}
